@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: black;
  background-color: #fff;
}

.header {
  background-color: transparent;
  padding: 10px;
}
  
.header_logo {
  padding: 8px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
}

.footer {
    background-color: white;
}

.footer_nav {
  padding: 10px;
  margin: 4px;
  text-align: center;
  display: inline-block;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer_nav li {
    list-style: none;
    display: inline-block;
    padding: 0px 36px;
    font-size: 14px;
}

.footer_nav a {
  text-decoration: none;
  color: black;
}

.footer_nav a:hover{
    color: #dd33dd;
    transition: all 0.35s;
  }