@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: black;
  background-color: #fff;
}

.header {
  display: flex;
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  padding: 10px;
}
  
.header_logo {
  padding: 8px;
  margin: 0px 10px 0pc 10px;
  font-weight: bold;
  font-size: 24px;
}
  
.header_nav {
  padding: 10px;
  margin: 4px;
  display: none;
  text-align: center;
  display: inline;
}

ul {
  display: inline-block;
  text-align: center;
  align-items: center;
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  transition: all 0.35s;
}

&:hover {
  color: #dd33dd;
}

.footer_nav {
    padding: 10px;
    margin: 4px;
    display: none;
    text-align: center;
    display: inline;
}